.link-primary{
  color: #d93c81 !important;
}

.outlined-btn {
  border: 2px solid black !important;
  background-color: white !important;
  color: black !important;
  padding: 14px 28px !important;
  font-size: 16px;
  cursor: pointer !important;
  border-radius: 50px !important;
  padding: 10px 30px !important;
  margin: 10px 0px !important;
  text-transform: uppercase !important;
  font-weight: normal; !important;
}

/* Green */
.outlined-btn-success {
  border-color: #d93c81 !important;
  color: #d93c81 !important;
}

.outlined-btn-success:hover {
  background-color: #d93c81 !important;
  color: white !important;
}


.black-text{
  color: black !important;
}

.product_option{
  border: none;
  border-radius: 3px;
}

.product_option:hover {
  background-color: #d93c81 !important;
  color: white !important;
}

.product_option_active{
  border: 4px solid #d93c81 !important;
  border-radius: 3px;
}


.text-active{
  color: #d93c81 !important;
}


.notification_popup{
  position: fixed !important;
  bottom: 2px !important;
  right: 25px !important;
  width: 250px !important;
  z-index: 100;
}